thead {
  font-weight: bold;
}
footer {
  display: none;
}
div.controls {
  margin-bottom: 20px;
}
.controls select {
  vertical-align: top;
  margin-right: 20px;
}
button.filter {
  vertical-align: top;
}